:root{
    --color-panel-black: rgba(0, 0, 0, 0.3);
    --color-panel-blue: rgba(7, 90, 115, 0.41);

    --color-back-blue: rgba(4, 25, 38, 0.72);
    --color-back-black: rgba(0, 0, 0, 0.8);
}
body, html {
    width: 100%;
    height: 100%;
}
main{
    height: max-content;
    min-height: 50%;
    overflow: auto;
    -ms-overflow-style: none;  /* IE и Edge */
    scrollbar-width: none;  /* Firefox */
}
main::-webkit-scrollbar {
    display: none;
}footer {}
a {
    text-decoration: none;
    color:#fff;
}
a:hover {
    color:#fff;
}
.m-5px {
    margin: 5px;
}
.d-flex{
    display: flex;
}
.fdir-column {
    flex-direction: column;
}
.ai-center{
align-items: center;

}
.center{
    margin: 0;
}
.record {
    background-color: #fff;
    width: 20%;
    height: 100%;
}
.all {
    min-width: 100%;
    min-height: 100%;
    position: relative;
}
.wraper {
    background-color: var(--color-back-blue);
}
.back{
    padding: 0;

    height: 100%;
    background: url("/images/back.jpg") center/cover no-repeat;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/* Стили навигации */
.nav.nav-masthead {
    box-sizing: border-box;
}
.nav-link {
    line-height: 2; /*задаём высоту строки*/
    color: aliceblue;
    font-size: 18px;
    font-weight: 500;
    transition: all .4s;
}
.active {
    transition: all 1s;
    background-color: rgba(17, 69, 107, 0.48);
    color: rgb(0, 183, 255);
    border-radius: 3px;
}
.nav a.nav-link.active:after {
    height: 4px;
}
.nav a.nav-link:after {
    display: block;
    left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 100%;
    height: 0; /*задаём ширину линии*/
    background-color: rgb(0, 184, 236); /*задаём цвет линии*/
    border-radius: 2px;
    content: "";
    transition: height 0.3s ease-in-out; /*задаём время анимации*/
}
.nav a.nav-link:hover:after,
.nav a.nav-link:focus:after {
    height: 4px;
}

.nav-link:hover {
    color: rgb(0, 183, 255);
}
.foot {
    font-style: italic;
}



.title_logo {
    margin: 3px;
    line-height: .1;
    text-align: center;
    vertical-align: middle;
}

.text {
    margin: 5px 10px;
    font-size: 20pt;
    font-min-size: larger;
}


.d-flex {
    display: flex;
}
.flex-d-column {
    flex-direction: column;
}
.align-i-center {
    align-items: center;
}
.display-in-block {
    display: inline-block;
}



@media (max-width: 992px) {
    nav .nav {
        display: none;
    }
}
@media (max-width: 1200px) {
    .nav.menu {
        margin-left: 0;
    }
}
@media (min-width: 993px) {
    .burger-btn {
        display: none;
    }
    .navbar-collapse.collapse{
        display: none;
    }
}
@media (max-width: 575px) {
    .text {
        margin: 5px 10px;
        font-size: 5vw;
        font-min-size: larger;
    }
}
@media (max-width: 425px) {
    .dropdown-menu {
        background-color: rgb(0, 0, 0);
    }
}
/* Стили теории */

.theory-link {
    color: burlywood;
    transition: all 0.3s;
}

.theory-link:hover {
    transform: scale(1.2);
    cursor: pointer;
    color: rgb(230, 166, 84)
}

.header_logo {
    margin: 5px 0px;
}

.dropdown-toggle::after {
    display: none;
}
.dropdown-menu {
    background-color: rgba(35, 84, 140, 0.83);
}
.nav.menu {
    margin-left: 10px;
}

.navbar-toggler{
    display: inline-block;
    width: 2em;
    height: 2em;
    background-size: 100%;
}
.navbar-toggler-icon {
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/images/icon-menu.png");
}




.burger {
    position: relative;
    margin: 5px 0;
    box-sizing: border-box;
    padding: 0;
}
.burger-btn {
    height: 100%;
}
.menu-burger {
    padding: 5px 5px;
}
.lines {
    position: relative;
    transition: transform .25s ease-in-out;
    margin: 5px 0;
    display: block;
    border: 2px solid white;
    background-color: white;
    border-radius: 20px;
    width: 100%;
}
.burger:focus {
    outline: none;
}
.burger .lines.up.active{
    top: 8px;
    transform: rotate(45deg);
}
.burger .lines.mid.active{
    transform: rotate(-45deg);
}
.burger .lines.down.active{
    bottom: 10px;
    transform: rotate(45deg);
 }


/* Стили форм */
.title {
    color: white;
    margin: 5px 10px;
}
.lable {
    font-size:large;
}
.form-control{
    color: white;
    font-size: 17pt;

    padding: 100px;
    background: none;
    border: none;
    border-bottom: 3px solid white;
    border-radius: 0;
}
.form-control:active, .form-control:hover, .form-control:focus {
    color: white;
    font-size: 17pt;
    outline: none;
    background: none;
    outline: 0;
    outline-offset: 0;
}
.form-auth {
    min-width: max-content;
    background-color:var(--color-panel-blue);
    border-radius: 5px;
}

.btn-submit {
    font-size: 15pt;
    margin-top: 10px;
    border-radius: 10px;
    min-width: 100px;
    max-width: max-content;
}

.error {
    margin: 10px 0;
    background-color: rgba(255, 0, 0, 0.85);
    border-radius: 5px;
    padding: 20px 10px;
    width: 100%;
}
