.theory {
    display: flex;
    width: 100%;
}
.menu {
    width: max-content;
}
.text-left {
    text-align: left;
}
.accordion-item, .accordion-header, .accordion-button, .accordion-collapse {
    transition: all .4s ease-in-out;
}
